# Copy file ini lalu paste di backend, lalu ganti namanya menjadi .env, lalu isi dengan API Key yang valid untuk masing-masing layanan.
GEMINI_API_KEY=''
GOOGLE_FACT_CHECK_API_KEY=''
DEEPSEEK_API_KEY=''
VIRUSTOTAL_API_KEY=''